/* nav related styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
   color:#FD6E0A ;
}
nav{
    margin: 0 170px ;
    display: flex;
    justify-content: space-between;

}
.nav-title{
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-weight: 800;
}
nav ul{
    display: flex;
    align-items:center;

}
nav li{
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding:15px 35px;
}

/* header related styles */
.header{
    background-color:#FFF8F3;
    background-image:url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.profile-picture{
    width: 400px;
}
.banner-starting{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 75px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
}
.banner-discription{
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}

        /* main section styles */

 /* about section styles */
  .section-title{
    
    font-size: 30px;
    color: #181818;
    text-align: center;
    font-weight: 700;
  }
  .section-description{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .about{
    margin: 130px 230px;
    padding: 130px 150px;
    background-color: #fff2e8;

  }